﻿<!DOCTYPE html>
@model MuzigiOyla3.Models.Review
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Style.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img src="~/Content/Images/vinyl.jpg" class="rounded" width="50">

                @Html.ActionLink("MUZIGI OYLA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("ALBUMS", "Index", "Album")</li>
                    

                </ul>
                <ul class="nav navbar-right">
                    <li>@Html.ActionLink("Login / Sign Up", "Login", "Account")</li>
                </ul>
            </div>
            <div>
                @if (Session["username"] == null)
                {

                }
                else
                {
                    using (Html.BeginForm("SendReview", "Album", FormMethod.Post))

                    {



                               

                                <ul class="nav navbar-right">
                                    <li><font color="#FFC433">Welcome <b>@Session["username"]</b>       </font></li>
                                </ul>

                           
                            
                        

                    }
                }


            </div>
        </div>
    </div>
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MuzigiOyla Application by Tolga Han Kaya and Emir Erkan Bilmec</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
