﻿
@{
    ViewBag.Title = "Index";
}

@model MuzigiOyla3.Models.Review
<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <link href="~/Content/Style.css" rel="stylesheet">

</head>
<body>

    <br><a href="@Url.Action("Index", "Album")"><font color="#FFC433">Back</font></a></br>
    <h3>ALBUM DETAIL</h3>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/Images/@ViewBag.album.Photo" alt="...">

            </a>
        </div>
        <br><font size="+3">@ViewBag.album.AlbumName</font></br>
        <br><font size="+1">@ViewBag.album.Artist</font></br>
        <br><font size="+1">@ViewBag.album.Genre</font></br>
        <br><font size="+1">@ViewBag.album.ReleaseYear</font></br>

    </div>

    <h3>Rating and Comments</h3>
    <col class="col-md-3" />
    @foreach (var review in ViewBag.album.Reviews)
    {




        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">

                    <div class="caption">
                        <h3><font size="+1" color="#FFC433">@review.Account.Username</font></h3>
                        <p>@review.Content</p>
                        
                    </div>
                </div>
            </div>
        </div>
    }


    @if (Session["username"] == null)
    {
        <a href="@Url.Action("Login","Account")"><font color="#FFC433">Login to post comments</font></a>
    }
    else
    {
        using (Html.BeginForm("SendReview", "Album", FormMethod.Post))

        {
            <table cellpadding="2" cellspacing="2">

                <tr>
                    <td valign="top">Add Comment</td>
                    <td><font color="black">@Html.TextAreaFor(model => model.Content, new { cols = 20, rows = 5 })</font></td>

                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Send" />
                        @Html.HiddenFor(model => model.AlbumId)
                    </td>

                </tr>
            </table>

        }
    }








</body>



</html>



