﻿
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
     <meta name="viewport" content="width=device-width"/>
    <title>INDEX</title>
    <link href="~/Content/Style.css" rel="stylesheet">

</head>
<body>
    <h3>ALBUM LIST</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"><span class="label label-warning">ALBUM ID</span></th>
                <th scope="col"><span class="label label-warning">ALBUM NAME</span></th>
                <th scope="col"><span class="label label-warning">ARTIST</span></th>
                <th scope="col"><span class="label label-warning">GENRE</span></th>
                <th scope="col"><span class="label label-warning">RELEASE DATE</span></th>
                <th scope="col"><span class="label label-warning">ALBUM COVER</span></th>
            </tr>
        </thead>
        @foreach (var album in ViewBag.albums)
        {

            <tbody>



            <th scope="row"><font size="+1">@album.Id</font></th>
            <td><font size="+1">@album.AlbumName</font></td>
            <td><font size="+1">@album.Artist</font></td>
            <td><font size="+1">@album.Genre</font></td>
            <td><font size="+1">@album.ReleaseYear</font></td>
            <td><font size="+1"><img src="~/Content/Images/@album.Photo" width="70" /></font></td>
            <td><a href="@Url.Action("Detail","Album",new { id = @album.Id})"><font color="#FFC433">DETAILS AND COMMENTS</font></a></td>
            
            </tbody>

        }
    </table>

    
   
    
   
    
</html>

</body>



</html>

<h2>Index</h2>

