﻿@{
    ViewBag.Title = "Home Page";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/Images/AOTY-17-920x584.jpg" alt="..." width="1150" height="100">
            <div class="carousel-caption">
                <font size="+10" color="black"<p class="bg-success"> ALBUMS OF 2017 </p></font>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Images/Erkanogur.jpg" alt="..." width="1150">
            <div class="carousel-caption">
                <font size="+2" color="black"<p class="bg-danger"> LEARN ABOUT TURKISH FOLK MUSICIAN ERKAN OGUR </p></font>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Images/Burn-The-Witch-640x478.jpg" alt="..." width="1150">
            <div class="carousel-caption">
                <font size="+2" color="black"<p class="bg-danger"> WATCH RADIOHEAD'S NEW MUSIC VIDEO </p></font>
            </div>
        </div>
        ...
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



