﻿
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>INDEX</title>
    <link href="~/Content/Style.css" rel="stylesheet">

</head>
<body>
    <h3>Login</h3>
    @ViewBag.error
    <form method="post" action="@Url.Action("Login","Account")"
        <br/>
          <table cellpadding="2" cellspacing="2">
            <tr>
                <br />
                <td>Username</td>
                <td><font color="black"><input type="text" name="username" /></font></td>

            </tr>
            <tr>
                <td>Password</td>
                <td><font color="black"><input type="password" name="password" /></font></td>

            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Login" />
                    <br />
                    <a href="@Url.Action("SignUp","Account")"><font color="#FFC433">Sign Up</font></a>
                </td>

            </tr>

        </table>
          
          </form>


</body>
</html>