﻿
@{
    ViewBag.Title = "Login";
}
@model MuzigiOyla3.Models.Account

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>INDEX</title>
    <link href="~/Content/Style.css" rel="stylesheet">

</head>
<body>

    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post)) { 
        <br/>
        <h3>Sign Up</h3>
        <table cellpadding="2" cellspacing="2">
            <tr>
                <br />
                <td>Username</td>
                <td><font color="black">@Html.TextBoxFor(model => model.Username)</font></td>

            </tr>
            <tr>
                <br />
                <td>Password</td>
                <td><font color="black">@Html.PasswordFor(model => model.Password)</font></td>

            </tr>
            <tr>
                <br />
                <td>Full Name</td>
                <td><font color="black">@Html.TextBoxFor(model => model.FullName)</font></td>

            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Save" />
                    <br />

                </td>

            </tr>

        </table>
          
          }


</body>
</html>